<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
</head>

<body>
<div class="navBar">
    <a class="navLink" href="/">Back</a>
</div>
<div id="about">
    <h1>
        About ParaMed
    </h1>
    <p>
        ParaMed is the easiest way to get crucial and accurate information from those in need to paramedics - fast!
        <br><br>
        ParaMed was developed from a great understanding of the frustration experienced when information is not able to
        be accurately communicated over the phone when calling for an ambulance. ParaMed makes it easy for anyone with a
        smart device to send crucial information - such images and accurate location data - to call operators, to ensure
        help can be sent as quickly as possible. ParaMed makes it easy for call operators too, with all the information
        required to respond to a call visually integrated into one convenient location.
        <br><br>
        So join the growing community of people who have trusted ParaMed to make calling for an ambulance easier!
        <br><br>
        I'm a citizen - Download the <a id="appLink" href="https://play.google.com/store?hl=en" target="_blank">app</a>!
        <br>
        I'm part of a call centre - <a id="signUpLink" href="sign-up"">Sign up</a> today!
    </p>
</div>
</body>