<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ParaMed</title>
  <link rel="stylesheet" href="">
</head>

<body>
<div id="container">
  <ul>
    <li><a href="about.ejs">About</a></li>
    <li><a href="signUp.ejs">Sign up</a></li>
  </ul>

  <h1></h1>
  <h2>Providing better access to paramedic services</h2>

  <form action="">
    <label for="username">Username</label>
    <input type="text" name="username" required><br>

    <label for="password">Password</label>
    <input type="text" name="password" required><br>

    <button type="submit">Login</button>
  </form>
</div>

</body>
