<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
</head>

<body>
  <div class="container">

    <h1>
      <%= title %>
    </h1>

    <p id="subtext">Providing better, faster access to emergency services</p>

    <h2>COMING SOON</h2>

  </div>

  <div class="teamName">
    <p>A Bright Solutions Project</p>
    <p>Renee Serraglio  -  Cheok Seng Lee   -  Danish Bassi</p>
  </div>

</body>

</html>