<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
</head>

<body>
  <div class="container">

    <h1>
      <%= title %>
    </h1>

    <p id="subtext">Connecting Emergency Services with patients</p>

    <h2>COMING SOON</h2>

  </div>

  <div>
    <p class="teamName">A Bright Solutions Project</p>
  </div>

</body>

</html>