<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incident Report</title>
    <link rel="stylesheet" href="/public/stylesheets/homeStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/controllers/reportsController.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_gGdg1v9AyPZhr4Ahhb1kTiaicC3ip6k&callback=initMap">
    </script>
</head>

<body>
    <div class="navBar">
        <img id="barLogo" src="../public/logo.png" alt="ParaMed logo">
        <a id="logout" href="/">Logout</a>
    </div>
    <div class="report-page">
        <div id="map" class="map" onload="initMap()">
        </div>

        <div class="searchbar">
            <input type="text" placeholder="Search Reports">
            <button class="search" type="submit"><i class="fa fa-search"></i></button>
        </div>
        <div class="incident-list">
            <div class="incident" onclick="openDetailedDescription()">
                <div class="incident-id">ID#021975</div>
                <div class="incident-time">3:53 PM</div>
                <div class="description">Description:</div>
                <div class="incident-description">Vehicular accident, broken leg</div>
                <div class="location">Location:</div>
                <div class="incident-location">61 Royal Parade, Parkville, VIC, 3052</div>
            </div>
            <div class="incident" onclick="openDetailedDescription()">
                <div class="incident-id">ID#021975</div>
                <div class="incident-time">3:53 PM</div>
                <div class="description">Description:</div>
                <div class="incident-description">Vehicular accident, broken leg</div>
                <div class="location">Location:</div>
                <div class="incident-location">61 Royal Parade, Parkville, VIC, 3052</div>
            </div>
            <div class="incident" onclick="openDetailedDescription()">
                <div class="incident-id">ID#021975</div>
                <div class="incident-time">3:53 PM</div>
                <div class="description">Description:</div>
                <div class="incident-description">Vehicular accident, broken leg</div>
                <div class="location">Location:</div>
                <div class="incident-location">61 Royal Parade, Parkville, VIC, 3052</div>
            </div>
            <div class="incident" onclick="openDetailedDescription()">
                <div class="incident-id">ID#021975</div>
                <div class="incident-time">3:53 PM</div>
                <div class="description">Description:</div>
                <div class="incident-description">Vehicular accident, broken leg</div>
                <div class="location">Location:</div>
                <div class="incident-location">61 Royal Parade, Parkville, VIC, 3052</div>
            </div>
            <div class="incident" onclick="openDetailedDescription()">
                <div class="incident-id">ID#021975</div>
                <div class="incident-time">3:53 PM</div>
                <div class="description">Description:</div>
                <div class="incident-description">Vehicular accident, broken leg</div>
                <div class="location">Location:</div>
                <div class="incident-location">61 Royal Parade, Parkville, VIC, 3052</div>
            </div>
        </div>
    </div>

    <div id="detailedDescription" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span id="modalCloseButton" class="modalClose" onclick="closeDescription()">&times;</span>
                <h2>Incident Breakdown</h2>
            </div>
            <div class="modal-body">
                <div class="incident">
                    <div class="incident-id">ID#021975</div>
                    <div class="incident-time">3:53 PM</div>
                    <div class="incident-description">Vehicular accident, broken leg</div>
                    <div class="incident-location">61 Royal Parade, Parkville</div>
                </div>
                <div class="additional-info-title">
                    Additional Info
                </div>
                <div class="additional-info">
                    <div class="additional-info-content">
                        Number of injuries: 3
                    </div>
                    <div class="additional-info-timestamp">
                        3:53 PM
                    </div>
                </div>
                <div class="photos-title">
                    Photos
                </div>
                <div class="photo-grid">
                    <div class="photo">
                        <img src="/public/blue-stethoscope.jpg" alt="ParaMed logo"/>
                    </div>
                    <div class="photo">
                        <img src="/public/logo.png" alt="ParaMed logo"/>
                    </div>
                    <div class="photo">
                        <img src="/public/logo.png" alt="ParaMed logo"/>
                    </div>
                    <div class="photo">
                        <img src="/public/logo.png" alt="ParaMed logo"/>
                    </div>
                    <div class="photo">
                        <img src="/public/logo.png" alt="ParaMed logo"/>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>