<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="stylesheet" href="../public/stylesheets/homeStyle.css">
</head>

<body>
<div id="navBar">
    <a href="/">Back</a>
</div>
<h1>
Join the growing number of operations centres using ParaMed
</h1>
<p>
    Are you interested in having your operations centre use ParaMed to make responding to triple zero calls easier?
    Contact us using the form below.
</p>
<form class="signUp" action="">
    <label for="name">Call centre name</label><br>
    <input type="text" name="name" required><br>

    <label for="state">State</label><br>
    <input type="text" name="state" required><br>

    <label for="email">Email</label><br>
    <input type="text" name="email" required><br>

    <label for="number">Phone number</label><br>
    <input type="text" name="number" required><br>

    <button type="submit">Submit</button>
</form>
</body>