@import url('https://fonts.googleapis.com/css?family=Tajawal');

html {
    height: 100%;
}

body {
    text-align: center;
    font-family: 'Tajawal', san-serif;
    background: linear-gradient(rgba(226, 226, 226, 0.8), rgba(247, 247, 247, 0.8)), url("../blue-stethoscope.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
}

#signUp, #about {
    width: 700px;
    padding: 0 50px 50px;
    display: inline-block;
    background-color: white;
}

.navBar {
    height: 40px;
    padding: 5px 20px;
    overflow: hidden;
    background-color: #4a4c7d;
    box-shadow: 0 1px 5px black;
}

#barLogo {
    height: 100%;
    width: auto;
}

#logout {
    float: right;
}

a {
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 10px 16px;
    text-decoration: none;
}

.navBar a {
    float: left;
}

a:hover {
    color: #8bbef6;
}

#logo {
    display: block;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 28px;
    color: #0157EF;
    padding: 10px;
    text-align: left;

}

h2 {
    font-size: 18px;
    color: black;
    padding: 20px;
}

p {
    font-size: 16px;
    color: black;
    text-align: left;
    padding: 10px;
    text-align: justify;
}

form.login {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    padding: 15px 10px;
    width: 500px;
    display: inline-block;
    border-radius: 5px;

}

.login {

}

.signUp {

}

label {
    float: left;
    padding: 0 10px;
    font-weight: bold;
}

input {
    width: 480px;
    height: 20px;
    padding: 12px 10px;
    margin: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
}

select {
    width: 480px;
    height: 20px;

    margin: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
}

input:focus {
    border: 2px solid #0157EF;
}

button {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    width: 200px;
    font-family: 'Tajawal', sans-serif;
    font-weight: bold;
}

button:hover {
    border: 1px solid #0157EF;
    box-shadow: 0 0 10px #8bbef6;
}

button:active {
    border: 2px solid #0157EF;
}

#teamName {
    font-size: 10px;
    float: right;
    color: white;
    padding: 10px;
}

.report-page{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 100%;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.report-page > .topbar{
    background-color: #4a4c7d;
    border: 1px solid black;

    grid-column: 1/6;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.report-page > .topbar > img#logo{
    grid-column: 3/4;
    margin: auto;
}

.report-page > .topbar > a#logout {
    float: right;
    grid-column: 5/6;
}

.report-page > .map{
    grid-column: 3/6;
    grid-row: 2/3;
}

.report-page > .incident-list{
    height: 100%;
    background: white;
    overflow: auto;
    grid-column: 1/3;
    grid-row: 2/3;
}

.report-page > .incident-list > .searchbar{
}

.report-page > .incident-list > .searchbar input[type=text]{
    width: 80%;
    padding: 15px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    border: 1px solid black;
}

.report-page > .incident-list > .searchbar > button.search{
    width: 10%;
    height: 10%;
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 2%;
    font-size: 14px;

    cursor: pointer;
}

.report-page > .incident-list > .incident{
    background-color: #8BBEF6;
    border: 1px solid black;
    box-shadow: 0 1px 5px black ;
    padding: 15px 10px;
    margin: 10px 20px;
    display: inline-block;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.report-page > .incident-list > .incident > .incident-id{
    display: flex;
    font-weight: bold;
    align-items: left;

    grid-column: 1/3;
    grid-row: 1/2; padding-left: 5%;
}

.report-page > .incident-list > .incident > .incident-time{
    display: grid;
    align-items: right;
    grid-column: 3/4;
    grid-row: 1/2;
    justify-items: right;
}

.report-page > .incident-list > .incident > .incident-description{
    grid-row: 2/4;
    grid-column: 1/4;
    padding-left: 5%;
    text-align: left;
}

.report-page > .incident-list > .incident > .incident-location{
    grid-row: 4/5;
    grid-column: 1/4;
    padding-left: 5%;
    text-align: left;
}