@import url('https://fonts.googleapis.com/css?family=Raleway');

html {
    height: 100%;
}

body {


    background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.5)), url("https://source.unsplash.com/yo01Z-9HQAw") no-repeat center center fixed;
    /*background: url("https://source.unsplash.com/Pd4lRfKo16U");*/
    /*background: url("https://source.unsplash.com/0-SGyQFiDRI");*/
    background-size: cover;
    text-align: center;
    font-family: 'Raleway', san-serif;
}


.container {
    padding: 20px;
}

#navBar {
    padding: 10px 20px 0px;
    overflow: hidden;
}

#navBar a {
    float: left;
    color: black;
    text-align: center;
    font-size: 1em;
    padding: 10px 16px;
}

#navBar a:hover {
    color: #0157EF;
}

#logo {
    display: block;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 18px;
    color: black;
}

form {
    padding: 60px 0 0;
}

input[type=text] {
    max-width: 200px;
    height: 20px;
    padding: 12px 10px;
    margin: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
}

input[type=text]:focus {
    border: 2px solid #0157EF;
}
