body {
  /*background: url(http://upload.wikimedia.org/wikipedia/commons/a/ac/Australian_Helicopters_%28VH-YXJ%29%2C_operated_for_Ambulance_Victoria%2C_AgustaWestland_AW139_taxiing_at_Wagga_Wagga_Airport.jpg);*/
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-family: 'Comfortaa', cursive;
}

body {
   margin:0;
   height:100%;
}

.report-page{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 4em 30em;
}

.report-page > .topbar{
    background-color: #8bbef6;
    padding: 10px;
    grid-column: 1/6;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.report-page > .topbar > img#logo{
    height: 100%;
    grid-column: 3/4;
    margin: auto;
}

.report-page > .topbar > form{
    /*height: 100%;*/
    grid-column: 5/6;
}

.report-page > .topbar > form > input{
    height: 70%;
    width: 50%;
    margin-top: 0.75em;

}

.report-page > .map{
    background: aqua;
    grid-column: 3/6;
    grid-row: 2/3;
}

.report-page > .incident-list{
    background: green;
    overflow: auto;
    grid-column: 1/3;
    grid-row: 2/3;
}

.report-page > .incident-list > .searchbar{

}

.report-page > .incident-list > .searchbar input[type=text]{
    width: 90%;
    padding: 6px 0px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    border: none;
}

.report-page > .incident-list > .searchbar button{
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 2%;
    background: #ddd;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.incident{
    background: yellow;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    border: solid;
}

.incident > .incident-id{
    display: flex;
    align-items: left;
    padding-left: 5%;
    grid-column: 1/3;
    grid-row: 1/2;
}

.incident > .incident-time{
    display: grid;
    align-items: right;
    background: red;
    grid-column: 3/4;
    grid-row: 1/2;
    justify-items: right;
}

.incident > .incident-description{
    grid-row: 2/4;
    grid-column: 1/4;
    background: blue;
}

.incident > .incident-location{
    grid-row: 4/5;
    grid-column: 1/4;
    background: pink;
}

.container {
  position: relative;
  padding: 2px 10px;
  margin-left: 25%;
    margin-right: 25%;
  height: 200%;
  box-shadow: black, 10px, 10px;
  border-radius: 30px;
  background: linear-gradient(rgba(255, 3, 3, 0.5), rgb(4, 0, 255, 0.5))
}

h1 {
  color: rgba(255, 255, 255, 0.829);
  font-size: 70px;
  text-shadow: 3px 3px blue;
}

h2 {
    font-weight: bold;
    padding: 0;
    margin: 0;
}

#subtext {
  font-size: 100%;
  text-transform: capitalize;
  text-decoration: underline;
}

.teamName {
  text-align: center;
  position: relative;
  margin-top: 13%;
  /* bottom: 0; */
  color: rgb(255, 0, 0);
  text-shadow: 1px 1px rgb(0, 0, 0);
  height: 100%;
  padding: 2px;
  box-shadow: black, 10px, 10px;
  border-radius: 30px;
  background:  rgb(255, 255, 255, 0.5);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal > .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.modal > .modal-content > .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal > .modal-content > .modal-header > .modalClose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal > .modal-content > .modal-header > .modalClose:hover,
.modal > .modal-content > .modal-header > .modalClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal > .modal-content > .modal-body > .incident {
    border: none;
}

.modal-body > .additional-info {
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.modal-body > .additional-info > .additional-info-content {
    grid-column: 1/5;
    text-align: left;
}

.modal > .modal-content > .modal-body > .additional-info > .additional-info-timestamp {
    grid-column: 5/6;
    text-align: right;
}

.modal > .modal-content > .modal-body > .additional-info-title {
    text-align: left;
}

.modal > .modal-content > .modal-body > .photos-title {
    text-align: left;
}

.modal > .modal-content > .modal-body > .photo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}

.modal > .modal-content > .modal-body > .photo-grid > .photo > img {
    width: 100%;
}
